- component_suite = local_assigns[:component_suite]
- stylesheet_family = params[:stylesheet].presence

%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
  = link_to component_suite, root_path, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "main_nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#main_nav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #main_nav.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a#bootstrap.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Bootstrap Components
        .dropdown-menu{"aria-labelledby" => "bootstrap"}
          - ([*Bootstrap4RailsComponents::BOOTSTRAP_COMPONENT_NAMES, 'tabs']).each do |component|
            = link_to component.to_s.humanize, send("bootstrap_#{component.to_s.pluralize}_path", stylesheet: stylesheet_family), class: 'dropdown-item', data: { describe: component }