%row
  %columns
    %spacer{ size: spacer(:double) }
    %a{ href: t('bootstrap4_rails.email.links.nfg_website.homepage'), target: "_blank" }
      %img.display-inline-block{ src: image_path(t("bootstrap4_rails.email.images.logo")), alt: t('bootstrap4_rails.email.images.alt.logo'), width: "220", style: "width:220px;" }/
    %spacer{ size: spacer(:triple) }
